body {
    background-image: url('./videochatloading.gif');
    background-size: cover;
    box-shadow: 0 3000px rgba(86, 67, 90, 0.4) inset;
}
.vc {
    display: flex;
    /* background-color: blue;s */
    margin-left: 20vw;
    margin-top: 20vw;
    width: 50vw;
    flex-direction: column;
    color: white;
}